@media screen and (min-width: 1728px) {
    .banner {
        padding: 6em 0;
    }

    .banner__pesquisa {
        width: 36%;
    }

    .banner__pesquisa::placeholder {
        background-position: 12em;      
    }
}