@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }


    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .descricao {
        margin-right: 2em;
    }

    .descricao__titulo {
       font-size: 32px;
    }

    .descricao__texto {
        font-size: 16px;
    }

    .card{
        width: 60%;
        margin-left: 3em;
    }

}