.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__imagem {
    padding: 1em;
}

.container__texto {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__botao:checked ~ .lista-menu { /* checa se esta checked, o ~ é combinador css procura outro elemento que tem esta classe */
    display: block;
}

.container__botao {
    display: none;
    
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    /* ~ -> procura elemento que esteja em seguida dele que tenha essa classe */
    /* > -> procura algo dentro deste elemento */
    background-image: url("assets/img/MenuAberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700 ;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* webkit é para funcionar em outros navegadores */
    background-clip: text; /* vai prender a cor de backhround onde tem texto */
    text-transform: uppercase;
}
